body, html {
  margin: 3px;
  background-color: #b6ffff;
  height: 99%; }

.hidden {
  display: none; }

.site {
  height: 99%;
  display: grid; }
@media(min-width: 767px) {
  .site {
    grid-template-columns: 2fr 5fr;
    grid-template-rows: 0.5fr 10fr 0.5fr;
    grid-template-areas: "title  navigation" "content  content" "footer  footer"; }
    .site .navigation {
      text-align: right;
      border-top-right-radius: 10px; } }
@media(max-width: 766px) {
  .site {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 10fr 1fr;
    grid-template-areas: "title" "navigation" "content" "footer"; }
    .site .title {
      border-top-right-radius: 10px; } }
  .site * {
    padding: 0px 5px 0px 5px; }

.title {
  grid-area: title;
  font-weight: bold;
  border-top-left-radius: 10px; }

.navigation {
  grid-area: navigation; }

.title, .navigation {
  background-color: #494949;
  color: white; }

.footer {
  grid-area: footer;
  background-color: #a4a4a4;
  border-radius: 0 0 10px 10px; }

.content {
  grid-area: content;
  background-color: #757575;
  display: grid;
  grid-template-rows: auto 1fr 19fr;
  grid-template-columns: 1fr;
  grid-template-areas: "resources " "mine " "upgrades "; }

.resources {
  grid-area: resources; }

.upgrades {
  grid-area: upgrades; }

.mine {
  grid-area: mine;
  display: flex;
  justify-content: center; }
  .mine #mineB {
    width: 100%;
    height: 100%;
    color: black;
    background-color: #81d4fa;
    border: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  border: 1px solid transparent;
  height: 30px;
  transition: all 0.3s; }

th {
  font-weight: bold; }

td {
  text-align: center; }

/*# sourceMappingURL=main.css.map */
