!!! 5

%html
	%head
		%title goodo game
		%link{:rel=>"stylesheet", :href=>"main.css"}
	%body
		.site
			.title
				%p Game and stuff
			.content
				.resources
					%table
						%tr
							%th Resource
							%td.hidden.stone Stone
							%td.hidden.coal Coal
							%td.hidden.copper Copper

						%tr
							%th Amount
							%td.hidden.stone#stone 0
							%td.hidden.coal#coal 0
							%td.hidden.copper#copper 0
				.mine
					%button#mineB{:onclick=>"mine(Player.Upgrades.mineAtOnce)"} Mine

				.upgrades
					%p upgrades
			.navigation
				%p navigation
			.footer
				%p footer
	%script{:src=>"main.js"}