//@import assets/stylesheets/bootstrap

$primary-colour: #757575
$l-primary-colour: #a4a4a4
$d-primary-colour: #494949
$p-text: white

$secondary-colour: #81d4fa
$l-secondary-colour: #b6ffff
$d-secondary-colour: #4ba3c7
$s-text: black

$corner-smoothing: 10px

body, html
	margin: 3px
	background-color: $l-secondary-colour
	height: 99%

.hidden
	display: none

.site
	height: 99%
	display: grid
	@media(min-width: 767px)
		grid-template-columns: 2fr 5fr
		grid-template-rows: 0.5fr 10fr 0.5fr
		grid-template-areas: "title  navigation" "content  content" "footer  footer"
		.navigation
			text-align: right
			border-top-right-radius: $corner-smoothing
	@media(max-width: 766px)
		grid-template-columns: 1fr
		grid-template-rows: 1fr 1fr 10fr 1fr
		grid-template-areas: "title" "navigation" "content" "footer"
		.title
			border-top-right-radius: $corner-smoothing

	*
		padding: 0px 5px 0px 5px


.title
	grid-area: title
	font-weight: bold
	border-top-left-radius: $corner-smoothing

.navigation
	grid-area: navigation

.title, .navigation
	background-color: $d-primary-colour
	color: $p-text

.footer
	grid-area: footer
	background-color: $l-primary-colour
	border-radius: 0 0 $corner-smoothing $corner-smoothing



.content
	grid-area: content
	background-color: $primary-colour
	display: grid
	grid-template-rows: auto 1fr 19fr
	grid-template-columns: 1fr
	grid-template-areas: "resources " "mine " "upgrades "

.resources
	grid-area: resources

.upgrades
	grid-area: upgrades

.mine
	grid-area: mine
	display: flex
	justify-content: center
	#mineB
		width: 100%
		height: 100%
		color: $s-text
		background-color: $secondary-colour
		border: none



table
	border-collapse: collapse
	border-spacing: 0

td, th
	border: 1px solid transparent
	height: 30px
	transition: all 0.3s

th
	font-weight: bold
td
	text-align: center
